@font-face {
  font-family: "Dedale-Light";
  src: url(~@/scss/fonts/Dedale-Light.ttf) format("trueType");
}


@font-face {
  font-family: "Dedale-Regular";
  src: url(~@/scss/fonts/Dedale-Regular.ttf) format("trueType");
}

@font-face {
  font-family: "Dedale-Bold";
  src: url(~@/scss/fonts/Dedale-Bold.ttf) format("trueType");
}
