@mixin h-style {
  font-family: "Dedale";
  color: $white;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin h1-mobile-style {
  font-size: 24px;
  @include h-style;
  font-weight: bold;
}

@mixin h1-desktop-style {
  font-size: 48px;
  @include h-style;
}

@mixin h2-mobile-style {
  font-size: 18px;
  @include h-style;
}

@mixin h2-desktop-style {
  font-size: 40px;
  @include h-style;
}

@mixin h3-style {
  font-family: "Dedale";
  color: $lightbrown;
  font-size: 30px;
}

// @mixin CTA-style {
//   font-family: ;
//   border-radius: ;
//   font-size: ;
//   background-color: ;
//   color: ;
//   border: none;
//   text-decoration: none;
// }

@mixin p-style {
  font-family: "Merriweather";
  color: $gray;
}

@mixin p-mobile-style {
  font-size: 30px;
  @include p-style;
}

@mixin p-desktop-style {
  font-size: 10px;
  @include p-style;
}

@mixin em-style {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 15px;
  color: $lightbrown;
}

@mixin tablet-portrait {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: 920px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1160px) {
    @content;
  }
}
