@mixin h-style {
  font-family: "Dedale";
  color: $white;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin h1-style {
  @include h-style;
  font-size: 2rem;
  font-weight: bold;

  @include tablet-portrait {
    font-weight: normal;
    font-size: 4rem;
  }

  @include desktop {
    font-weight: normal;
    font-size: 5rem;
  }
}

@mixin h2-style {
  @include h-style;
  font-size: 1.4rem;

  @include tablet-portrait {
    font-weight: normal;
    font-size: 2.5rem;
  }

  @include desktop {
    font-weight: normal;
    font-size: 4rem;
  }
}

@mixin h3-style {
  font-family: "Dedale";
  color: $lightbrown;
  font-size: 1.2rem;

  @include tablet-portrait {
    font-weight: normal;
    font-size: 1.8rem;
  }

  @include desktop {
    font-weight: normal;
    font-size: 2.5rem;
  }
}

@mixin CTA-style {
  font-family: "Dedale";
  font-weight: normal;
  border-radius: 1px;
  font-size: 1.2rem;
  color: $gray;
  cursor: pointer;
  border: 1.3px solid $yellow;

  @include tablet-landscape {
    font-size: 1.4rem;
  }
}

@mixin p-style {
  font-family: "Merriweather";
  color: $gray;
  line-height: 150%;
  font-size: 1rem;

  @include tablet-portrait {
    font-size: 1.1rem;
  }

  @include tablet-landscape {
    font-size: 1.2rem;
  }

  @include desktop {
    font-size: 1.3rem;
    font-weight: 100;
  }
}

@mixin em-style {
  @include p-style;
  font-weight: bold;
  color: $lightbrown;
}

@mixin exit-style {
  font-family: "Cinzel";
  font-weight: normal;
  font-size: 0.7rem;
  color: $white;
  line-height: 150%;

  @include tablet-landscape {
    font-size: 1.8rem;
    line-height: 150%;
  }
}

@mixin menu-style {
  font-family: "Dedale";
  color: $white;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.2rem;

  @include tablet-landscape {
    font-size: 1.4rem;
  }
}
