$white: #efede5;
$yellow: #ffce1f;
$black: #120f07;
$lightbrown: #dcb98b;
$gray: #cbcbcb;
$lightblack: rgba(35, 35, 23, 0.5);

// CTA
$btn-height-mobile: 35px;
$btn-height-tablet: 50px;

// WIDTH
$padding-navBar-mobile: 4vw;
$padding-navBar-desktop: 3vw;
