@import "config/_reset.scss";

@import "global/_variables.scss";
@import "global/_fonts.scss";
@import "global/_medias.scss";
@import "global/_mixins.scss";

h1 {
  @include h1-style;
}

h2 {
  @include h2-style;
}

h3 {
  @include h3-style;
}

p,
li {
  @include p-style;
}

ul {
  margin-top: 10px;
}

strong {
  font-weight: bold;
  color: $lightbrown;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
